body, html {
	width: 100%;
	height: 100%;
	margin: 20;
	background-image: url("https://drive.google.com/uc?id=1jY1XfDrY1mL2HhCpeYCx-iQhrvuAUeLZ");
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.container {
  width: 100%;
  height: 100%;

}

.leftpane {
    width: 15%;
    height: 70%;
    float: left;
    /*background-color: rosybrown;*/
	background-color: rgba(188,143,143,.6);
    border-collapse: collapse;
}

.rightpane {
  width: 85%;
  height: 70%;
  position: relative;
  float: left;
  /*background-color: yellow;*/
/*background-color: rgba(188,143,143,.6);*/
  border-collapse: collapse;
}
.toppane {
	width: 100%;
	height: 25%;
  /*height: 100px;*/
	border-collapse: collapse;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.toppane img{
    flex-shrink: 0;
    min-width: 75%;
    min-height: 25%;
}
.feature-panel{
	width: 100%;
	height: 30%;
	border-collapse: collapse;
}
.middlepane {
    width: 100%;
    /*background-color: royalblue;*/
    border-collapse: collapse;
}